<div class="mx-2 lg:mx-8">
  <div class="md:flex my-4 place-content-between">
    <h1 class="mb-1 md:mb-0 font-black text-2xl">Pie Chart</h1>
    <div class="flex gap-2">
      <div class="relative items-center">
        <select [(ngModel)]="month" class="form-select" required>
          <option *ngFor="let month of months" value="{{ month }}">
            {{ monthNames[month - 1] }}
          </option>
        </select>
        <div
          class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none"
        >
          <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
            <path
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
      <div class="relative items-center">
        <select [(ngModel)]="year" class="form-select" required>
          <option *ngFor="let year of years" value="{{ year }}">
            {{ year }}
          </option>
        </select>
        <div
          class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none"
        >
          <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
            <path
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pieChartData$ | async as pieChartData">
    <div
      *ngIf="containsAll(pieChartData)"
      class="bg-red-100 border border-red-400 text-sm text-red-700 px-4 py-3 rounded"
    >
      No Transactions have been made this month. Please add a transaction.
    </div>
    <div class="flex justify-center">
      <div class="w-full md:w-1/2">
        <canvas
          *ngIf="!containsAll(pieChartData)"
          baseChart
          class="chart"
          [data]="pieChartData"
          [type]="'pie'"
          [options]="pieChartOptions"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
