<div class="lg:flex">
  <div class="ml-8 my-4">
    <h2 class="mb-1 font-black text-2xl">Charts</h2>
    <div class="flex flex-col">
      <button
        *ngFor="let type of chartTypes"
        class="text-gray-700 text-md"
        [ngClass]="{ 'font-bold': chartType === type.type }"
        (click)="chartType = type.type"
      >
        {{ type.text }}
      </button>
    </div>
  </div>
  <div class="lg:flex-1">
    <app-category-charts *ngIf="chartType === 0"></app-category-charts>
    <app-pie-charts *ngIf="chartType === 1"></app-pie-charts>
  </div>
</div>
