<mat-dialog-content *ngIf="categories$ | async as categories">
  <div class="flex my-4 place-content-between">
    <h1 class="font-black text-2xl">
      {{ month ? monthNames[month - 1] : "" }} {{ year }} Transactions
    </h1>
  </div>

  <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="py-3 px-6 w-[200px]">Name</th>
          <th scope="col" class="py-3 px-6">Category</th>
          <th scope="col" class="py-3 px-6">Price</th>
          <th scope="col" class="py-3 px-6">Date</th>
          <th scope="col" class="py-3 px-6">Edit</th>
          <th scope="col" class="py-3 px-6">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let transaction of transactions"
          class="bg-white border-b hover:bg-gray-50"
        >
          <th class="py-4 px-6 font-normal text-gray-900">
            {{ transaction.name }}
          </th>
          <td class="py-4 px-6 font-normal text-gray-900">
            {{ getCategoryNameById(transaction.category_id, categories) }}
          </td>
          <th class="py-4 px-6 font-normal text-gray-900">
            {{
              transaction.final_price | currency : transaction.final_currency
            }}
          </th>
          <th class="py-4 px-6 font-normal text-gray-900">
            {{ transaction.date | date }}
          </th>
          <td class="py-4 px-6">
            <button
              (click)="launchEditDialog(transaction)"
              class="font-medium text-indigo-600 hover:underline"
            >
              Edit
            </button>
          </td>
          <td class="py-4 px-6">
            <button
              (click)="deleteTransaction(transaction.id)"
              class="font-medium text-red-600 hover:underline"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>
