<div
  class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2
        class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
      >
        Reset Password
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <a
          [routerLink]="['/', 'auth', 'sign-in']"
          class="font-medium text-indigo-600 hover:text-indigo-500"
          >Sign-In here</a
        >
      </p>
    </div>
    <form
      class="mt-8 space-y-6"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPassword()"
    >
      <div class="mb-3">
        <label for="password" class="sr-only">Password</label>
        <input
          [ngClass]="{
            'border-red-300':
              submitted && resetPasswordForm.get('password')?.invalid
          }"
          id="password"
          name="password"
          formControlName="password"
          type="password"
          autocomplete="current-password"
          required
          class="w-full appearance-none rounded-none rounded-lg border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Password"
        />
      </div>

      <div class="mb-3">
        <label for="password_confirmation" class="sr-only"
          >Confirm Password</label
        >
        <input
          [ngClass]="{
            'border-red-300':
              submitted &&
              resetPasswordForm.get('password_confirmation')?.invalid
          }"
          id="password_confirmation"
          name="password_confirmation"
          formControlName="password_confirmation"
          type="password"
          autocomplete="current-password"
          required
          class="w-full appearance-none rounded-none rounded-lg border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Password Confirm"
        />
      </div>

      <div
        class="bg-red-100 border border-red-400 text-sm text-red-700 px-4 py-3 rounded"
        *ngIf="error"
      >
        <p>
          An error has occurred. Please make sure you filled up all required
          forms.
        </p>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn-primary w-full">
          Reset your password
        </button>
      </div>
    </form>
  </div>
</div>
