<div class="relative px-6 lg:px-8">
  <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
    <div>
      <div>
        <h1
          class="text-4xl font-bold tracking-tight sm:text-center sm:text-6xl"
        >
          Track your expenses and income
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">
          With Transaction Tracker, you can track all your expenses and income
          to have a clearer explanation of your spending habits.
        </p>
        <div class="mt-8 flex gap-x-4 sm:justify-center">
          <a [routerLink]="['/', 'auth', 'sign-up']" class="btn-primary">
            Get Started
          </a>
          <a
            [routerLink]="['/', 'auth', 'sign-in']"
            class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
          >
            Sign-In via Email
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
